<div class="nts-wizard-content">
  <div *ngIf="isType.html(content)" [innerHtml]="content.html"></div>

  <div  *ngIf="isType.formField(content)">
    <nts-form-field
      [type]="content.formFieldType"
      [formControl]="content.formControl"
      [prefix]="content.prefix"
      [suffix]="content.suffix"
      [hint]="content.hint"
      [tooltip]="content.tooltip"
      [min]="content.min"
      [max]="content.max"
      [maxlength]="content.maxlength"
      [placeholder]="content.placeholder"
      [options]="content.options"
      [rows]="content.rows"
    ></nts-form-field>
  </div>
</div>

<!--
<ng-template #contentTemplate let-content="content">
 
  <div *ngIf="content.type === 'html' && content.html" [innerHtml]="content.html"></div>
</ng-template>
-->
